.attribution { font-size: 11px; text-align: center; }
.attribution a {
  color: rgb(90, 90, 228);
  color: hsl(228, 45%, 44%); }

body{
  background-color: rgb(50, 50, 228);
  background-image: url("../images/bg-desktop.svg");
  background-position: center;
}

.container{
align-items: center;
}

.mockup{
  display:inline-block;
  margin-top: 6%;
  position: relative;
  width: 40%;
}

.intro{
  display:inline-block;
  height: 200px;
  padding-left: 5%;
  position: relative;
  width: 400px;
}
